*{
	padding:0px;
	margin:0px;
}
@media only screen and (max-width: 500px) {
  * {
    overflow-x: scroll;
  }
}
/* Navbar Css beigns here */

@media only screen and (min-width: 500px) {
    #navbc {
      margin-top: 0.1rem;
    }
  }

#navbarstyle{
	background-color:rgb(4, 70, 10);
    margin-bottom: 17px;
	}

#actives:hover{
	background-color: rgb(10, 168, 94);
	font-size: 16px;
}

#actives:active{
	border: 2px solid cyan;
}

#actives:focus{
	border-color: cyan;
}

#actives{
	width: 95px;
	color: white;
	font-size: 17px;
	border: 1px ridge pink;
	border-radius: 6px;
	text-align: center;
	font-family: Cambria,Georgia,arial;
	margin-bottom: 1px;
}
address rish{
	font-size: 19px;
}



.explore:hover{
	background-color: #ccc;
}
.explore:focus{
	background-color: darkcyan;
}
#dropmenu{
	margin-right: 20px;
	margin-top: 2px;
}

nav{
	font-weight: bold;
}


/* Navbar Css ends here */

.jumbotron{
	background-color:rgb(120, 233, 44);
	text-align: center;
	margin-top: 20px;
}

@media only screen and (max-width: 500px) {
  .display-7 {
    font-size: 1.8rem;
    margin-top: 1.2rem;
  }
}
@media only screen and (max-width: 500px) {
  h4 {
    font-size: 1.1rem;
    font-weight: 500;
  }
}
@media only screen and (max-width: 500px) {
  .display {
    font-size: 0.9rem;
  }
}
h1{
	font-family: Georgia, 'Times New Roman', Times, serif;
}
h4{
	font-family: Verdana;
}




.jumbo{
	padding: 3.3rem 0rem 0.5rem 0rem;
}
@media screen and (max-width: 600px) {
.jumbo {
	padding: 2.3rem 0rem 0.5rem 0rem;
	font-size: 3rem;
  }
}

.outer{
    overflow: scroll;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button{
    padding: 0px 10px 3px 10px;
    color: #efd8fa;
    border-radius: 5px;
    font-size: large;
    cursor: pointer;
    text-decoration:none;
    border: 1px solid #5b585b;
    color: #efd8fa;
    background: #8e8c8f;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.removeBtn{
    border: 1px solid #640207;
    color: #efd8fa;
    background: #b6063b;
}
.removeBtn:hover{
    color: #ffff;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 97%;
    margin: 0 auto;
    height: 50vh; 
    font-size: larger;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

td, th {
    border: 2px #b8b7b7;
    text-align: center;
    padding: 0.1rem;
    border-style: groove;
}

tr:nth-child(even) {
    background-color: #dfdbe1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2,h3{
    text-align: center;
    color: #35013f;
    
}


.cartkabutton:hover{
	background-color: rgb(10, 168, 94);
	font-size: 16px;
    color: white;
}

.cartkabutton:active{
	border: 2px solid cyan;
}

.cartkabutton:focus{
	border-color: cyan;
}

.cartkabutton{
	width: 9rem;
    height: 2.3rem;
    margin-bottom: 4px;
	color: white;
	font-size: 17px;
    font-weight: bold;
	border: 1px ridge pink;
	border-radius: 6px;
	text-align: center;
	font-family: Cambria,Georgia,arial;
    text-transform: uppercase;
}

@media only screen and (max-width: 500px) {
    .cartkabutton{
     margin-right: 1rem;
     width: 8rem;
     font-size: 1rem;
     height: 2.3rem;
     padding-top: 0rem;
     float: left;
    }
  }


  
  .icon-bar{
	float: both;
	word-spacing: 0.7em;
	text-align: center;
}
.list-unstyled{
	font-size: 18px;
	font-family: Cambria,Georgia,Arial,sans-sarif;
}
a{
	color: rgb(26, 24, 24);
	text-decoration:none;
}
a:hover{
	color: blue;
	text-decoration: none;
}



.footer{
  background-color:rgb(120, 233, 44);
	padding-top: 1rem;
	margin-top: 0.7rem;
  padding-left: 20px;
  }
  #container1{
    padding-left: 7rem;
  }
  @media only screen and (max-width: 500px) {
    #container1{
      padding-left: 0.3rem;
    }
  }

  .footer-col{
     width: 23%;
     padding: 0 20px;
  }
  
  .footer-col h4{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(184, 35, 35);
    text-transform: capitalize;
    margin-bottom: 5px;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
  } 
  
  .footer-col ul li:not(:last-child){
      margin-bottom: 2px;
  }
  
  .footer-col ul li a{
      font-size: 1.2rem;
      color: black;
      text-decoration: none;
      font-weight: lighter;
      display: block;
      transition: all 0.3s ease;
  }
  
  .footer-col ul li a:hover{
    color: blue;
    padding-left: 8px;
  }
  
  .footer-col .social-links i{
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	color: black;
	transition: all 0.5s ease;
	font-size: 1.5rem;
}
 
  .footer-col .social-links i:hover{
      color: blue;
  }
  
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom:12px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }

  .copyright{
	font-size: 1rem;
	font-family: Cambria,Georgia,Arial,sans-sarif;
	text-align: center;
	color: black;
  margin-top: 0rem;
  padding-top: 0rem;
  line-height: 0.9rem;
}

@media only screen and (max-width: 500px) {
  .copyright{
    font-size: 0.7rem;
    margin: 0rem;
    padding: 0rem;
    line-height: 0.9rem;
    margin-bottom: 0.3rem;
  }
}

@media only screen and (max-width: 500px) {
  .footer-col {
    margin-bottom: 0rem;
    padding-bottom: 0rem;
  }
}




